USE [AppointmentDB]
GO
/****** Object:  StoredProcedure [dbo].[USP_DeleteAppointment]    Script Date: 12-12-2025 02:37:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_DeleteAppointment]
(
   @AppointmentId INT
)
AS
BEGIN
   SET NOCOUNT ON;
   -- Validation: check if appointment exists
   IF NOT EXISTS (SELECT 1 FROM Appointments WHERE AppointmentId = @AppointmentId)
   BEGIN
       RAISERROR('AppointmentId does not exist.',16,1)
       RETURN
   END
   -- Delete appointment
   DELETE FROM Appointments
   WHERE AppointmentId = @AppointmentId
END
GO
/****** Object:  StoredProcedure [dbo].[USP_GetAppointmentById]    Script Date: 12-12-2025 02:37:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_GetAppointmentById]
(
   @AppointmentId INT
)
AS
BEGIN
   SET NOCOUNT ON;
   -- Check if appointment exists
   IF NOT EXISTS (SELECT 1 FROM Appointments WHERE AppointmentId = @AppointmentId)
   BEGIN
       RAISERROR('AppointmentId does not exist.',16,1)
       RETURN
   END
   -- Select appointment
   SELECT AppointmentId, CustomerName, AppointmentDate, Status
   FROM Appointments
   WHERE AppointmentId = @AppointmentId
END
GO
/****** Object:  StoredProcedure [dbo].[USP_GetAppointments]    Script Date: 12-12-2025 02:37:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_GetAppointments]
(
   @PageNumber INT,
   @PageSize INT,
   @FromDate DATETIME = NULL,
   @ToDate DATETIME = NULL,
   @Status NVARCHAR(50) = NULL,
   @CustomerName NVARCHAR(100) = NULL
)
AS
BEGIN
   SET NOCOUNT ON;
   -------------------------------------------
   -- 1) Total Count (with filters)
   -------------------------------------------
   SELECT
       COUNT(*) AS TotalCount
   FROM Appointments
   WHERE
       (@FromDate IS NULL OR AppointmentDate >= @FromDate)
       AND (@ToDate IS NULL OR AppointmentDate <= @ToDate)
       AND (@Status IS NULL OR Status = @Status)
       AND (@CustomerName IS NULL OR CustomerName LIKE '%' + @CustomerName + '%');
   -------------------------------------------
   -- 2) Actual Paged Data
   -------------------------------------------
   SELECT
       AppointmentId,
       CustomerName,
       AppointmentDate,
       Status
   FROM Appointments
   WHERE
       (@FromDate IS NULL OR AppointmentDate >= @FromDate)
       AND (@ToDate IS NULL OR AppointmentDate <= @ToDate)
       AND (@Status IS NULL OR Status = @Status)
       AND (@CustomerName IS NULL OR CustomerName LIKE '%' + @CustomerName + '%')
   ORDER BY AppointmentDate DESC
   OFFSET (@PageNumber - 1) * @PageSize ROWS
   FETCH NEXT @PageSize ROWS ONLY;
END
GO
/****** Object:  StoredProcedure [dbo].[USP_InsertAppointment]    Script Date: 12-12-2025 02:37:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_InsertAppointment]
(
   @CustomerName NVARCHAR(100),
   @AppointmentDate DATETIME,
   @Status NVARCHAR(50)
)
AS
BEGIN
   SET NOCOUNT ON;
   -- Validation: future date
   IF @AppointmentDate <= GETDATE()
   BEGIN
       RAISERROR('AppointmentDate must be a future date.', 16, 1)
       RETURN
   END
   -- Validation: Status
   IF @Status NOT IN ('Scheduled', 'Pending', 'Completed', 'Cancelled')
   BEGIN
       RAISERROR('Status must be Scheduled, Pending, Completed, or Cancelled.', 16, 1)
       RETURN
   END
    -- Validation: CustomerName
    IF LEN(LTRIM(RTRIM(@CustomerName))) = 0
    BEGIN
        RAISERROR('CustomerName cannot be empty.',16,1)
        RETURN
    END
	-- Example: 30 min buffer
IF EXISTS (
   SELECT 1 FROM Appointments
   WHERE ABS(DATEDIFF(MINUTE, AppointmentDate, @AppointmentDate)) < 30
)
BEGIN
   RAISERROR('Time slot overlaps with existing appointment.',16,1)
   RETURN
END

   INSERT INTO Appointments (CustomerName, AppointmentDate, Status)
   VALUES (@CustomerName, @AppointmentDate, @Status)
END
GO
/****** Object:  StoredProcedure [dbo].[USP_UpdateAppointment]    Script Date: 12-12-2025 02:37:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_UpdateAppointment]
(
    @AppointmentId INT,
    @CustomerName NVARCHAR(100),
    @AppointmentDate DATETIME,
    @Status NVARCHAR(50)
)
AS
BEGIN
    SET NOCOUNT ON;
    -- Check if appointment exists
    IF NOT EXISTS (SELECT 1 FROM Appointments WHERE AppointmentId = @AppointmentId)
    BEGIN
        RAISERROR('AppointmentId does not exist.',16,1)
        RETURN
    END
    -- Validation: future date
    IF @AppointmentDate <= GETDATE()
    BEGIN
        RAISERROR('AppointmentDate must be a future date.',16,1)
        RETURN
    END
    -- Validation: Status
    IF @Status NOT IN ('Scheduled','Pending','Completed','Cancelled')
    BEGIN
        RAISERROR('Status must be Scheduled, Pending, Completed, or Cancelled.',16,1)
        RETURN
    END
    -- Validation: CustomerName
    IF LEN(LTRIM(RTRIM(@CustomerName))) = 0
    BEGIN
        RAISERROR('CustomerName cannot be empty.',16,1)
        RETURN
    END
	-- Example: 30 min buffer
IF EXISTS (
   SELECT 1 FROM Appointments
   WHERE ABS(DATEDIFF(MINUTE, AppointmentDate, @AppointmentDate)) < 30
)
BEGIN
   RAISERROR('Time slot overlaps with existing appointment.',16,1)
   RETURN
END
    -- Update
    UPDATE Appointments
    SET CustomerName = @CustomerName,
        AppointmentDate = @AppointmentDate,
        Status = @Status
    WHERE AppointmentId = @AppointmentId
END
 

 
GO
